.img-font {
    background-image: url(img/sarenne-laurent-salino-29-1200x644.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.textheader {
    position: relative;
    top: 250px;
    left: 600px;
    font-size: +px;
}

ion-icon {
    font-size: 25px;
    gap: 5px;

}

.btn-icon {
    background-color: #FF6900;
    text-decoration: none;
    color: white;
    padding: 18px;
    border-radius: 20px;
}